.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*.db

#database debugging
GearGuide/check_db.py

#local requirements test file
requirements_test.txt

#local user auth testing
GearGuide/test_auth.py
